/.vs/
/HelloWorld/bin
/HelloWorld/obj
/Exercise01/bin/Debug/netcoreapp3.1
/Exercise01/obj
/WPF/bin/Debug/netcoreapp3.1
/WPF/obj
/Models/bin/Debug/netstandard2.0
/Models/obj
/Services/obj
/Exercise02/bin/Debug/netcoreapp3.1
/Exercise02/obj
